  @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
  html, body{
    margin:0;
    height:100%;
    background-color: rgb(237,237,237);
      min-width: 1220px;
  }
  #headerFirstRow{
    background-color: #2b2a29;
    height: 78px;
    width: 100%;
  }
  #headerSecondRow{
    height:36px;
    width: 100%;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.6);

  }
  .container{
    width: 1180px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  .container>#info{
    margin-left:50% ;
  }
  .top-header>.container{
    display: flex;
    align-items: center;
    position: relative;
  }
  p.text {
    font: sans-serif;
    color: rgb(255,255,255);
    font-size: 20px;
  }
  #mainContainer{
    height: 1000px;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 142px;
  }
  #first-option{
      height: 200px;
  }
  .menu-option{
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    width: 370px;
    height: 300px;
  }
  .show-result {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    margin-top: 30px;
    width: 780px;
    min-height: 800px;
  }
  .mainResult{
    float: right;
    width: 780px;
  }
  #menuContainer{
    float: left;
    width: 370px;
  }
  #body{
    /*min-height: 100%;*/

  }
  #footer{
      position: relative;
      margin-top: -112px;
      margin-left: auto;
      margin-right: auto;
    height: 112px;
    background-color: #2b2a29;
      clear: both;
  }
  .clearfix:after {content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;}
  .clearfix {display: inline-block;}
  /* Hides from IE-mac \*/
  * html .clearfix { height: 1%;}
  .clearfix {display: block;}
  /* End hide from IE-mac */



  .submit-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    min-width: 200px;
    margin-right: 20px;
    border: none;
    border-radius: 35px;
    padding-right: 30px;
    background: #ff5c5a;
    color: white;
    font-size: 20px;
  }
  .submit-btn:last-of-type {margin-right: 0;}
  .submit-btn:after {
    position: absolute;
    right: 10px;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    content: '\f1d8';
    font-family: FontAwesome;
    background: #ff5c5a;
    border-radius: 50%;
    color: white;
    font-size: 22px;
  }
  .submit-btn:disabled{
    background: rgb(43,42,41);
  }
  @keyframes float {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-8px);}
  }
  .submit-btn:hover:after {animation: float 2s linear infinite;}


  .ui-tabs .ui-tabs-panel {
    padding: 0;
  }




  #clock{
      padding-right: 100px;
      color: #ff5c5a;
      float: right;
      font-weight: bold;
      font-size: 20px;
  }